body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: rgb(var(--cl-primary));
  background-color: rgb(var(--cl-secondary) / 87%);
}

.header-2 {
  font-size: 16px;
  font-weight: 500;
}

.body-medium {
  @media only screen and (min-width: 1200px) {
    font-weight: 400;
  }
}

.hide {
  display: none;
}

.team,
.portfolio {
  padding: 96px 0;
}
@media only screen and (min-width: 115s8px) {
  .team,
  .portfolio {
    padding: 120px 0;
  }
}

.team-title,
.portfolio-title {
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
}
