body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: rgb(var(--cl-primary));
  background-color: rgb(var(--cl-secondary) / 87%);
}

.header-2 {
  font-size: 16px;
  font-weight: 500;
}

.body-medium {
  @media only screen and (min-width: 1200px) {
    font-weight: 400;
  }
}
