<header class="header">
  <div class="container">
    <nav class="nav">
      <loader
        file="templates/logo.html"
        logo-modifier="logo-dark"
        logo-class="logo"
      />

      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="https://google.com" target="_blank" class="nav-menu-link"
            >Studio</a
          >
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link">Portfolio</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <address class="contacts">
      <a class="contacts-link" href="#">info@devstudio.com</a>
      <a class="contacts-link" href="#">+11 (000) 111-11-11</a>
    </address>
  </div>
</header>
