<section class="portfolio">
  <div class="container">
    <h2 class="portfolio-title">Our Portfolio</h2>
    <ul class="portfolio-list">
      <loader
        file="templates/portfolio-item.html"
        img-default="1"
        img-retina="1"
        img-src="1"
      />
      <loader
        file="templates/portfolio-item.html"
        img-default="2"
        img-retina="2"
        img-src="2"
      />
      <loader
        file="templates/portfolio-item.html"
        img-default="3"
        img-retina="3"
        img-src="3"
      />
      <loader
        file="templates/portfolio-item.html"
        img-default="4"
        img-retina="4"
        img-src="4"
      />
      <loader
        file="templates/portfolio-item.html"
        img-default="5"
        img-retina="5"
        img-src="5"
      />
      <loader
        file="templates/portfolio-item.html"
        img-default="6"
        img-retina="6"
        img-src="6"
      />
    </ul>
  </div>
</section>
