<ul class="socials {=$location}">
  <li class="socials-item">
    <a href="" class="socials-link">
      <svg class="socials-icon" width="24" height="24">
        <use href="images/icons.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a href="" class="socials-link">
      <svg class="socials-icon" width="24" height="24">
        <use href="images/icons.svg#twitter"></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a href="" class="socials-link">
      <svg class="socials-icon" width="24" height="24">
        <use href="images/icons.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a href="" class="socials-link">
      <svg class="socials-icon" width="24" height="24">
        <use href="images/icons.svg#linkedin"></use>
      </svg>
    </a>
  </li>
</ul>
