@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;

    background-color: #fff;
    padding: 40px 16px;
    padding-top: 72px;

    transform: translateX(100%);
    transition: 400ms ease-in-out;

    &.is-open {
      transform: translateX(0);
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px;
      margin-bottom: auto;
    }

    .nav-menu-link {
      color: #2e2f42;
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.72px;
      padding: 0;

      &.active {
        color: #404bbf;
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .contacts-link {
      padding: 0;
      color: #434455;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.4px;

      &.accent {
        color: #4d5ae5;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .header-socials.socials,
  .menu-btn {
    display: none;
  }
}
